body, html{
  background-color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
}
.container{
  max-width: 1200px !important;
  margin: 0px auto;
}
.margin-divider{
  margin-top: 20px;
}
a:hover, a:active, a:visited, a{
  text-decoration: none !important;
}

.line{
  height: 3px;
  background-color: #E7935D;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header .links a, .header .links a:hover, .header .links a:active, .header .links a:visited{
  text-decoration: none;
  color: #666;
}
.header .links{
  margin: 80px 0;
}
.header .links a{
  margin: 0px 15px;
}
.header .logo{
  margin: 0 15px;
}
.footer{
  margin: 50px 0px !important;
  display: flex;
  color: #666;
}
.footer .links{
  padding-left: 408px;
}
.footer .links a{
  padding: 0 15px;
}
.img-right{
  float: right;
  border-radius: 50%;
  margin: 0 0 20px 20px;
  width: 300px;
}
.inner{
  max-width: 1075px;
  margin: auto;
}
.webinar-box-outer{
  height: 300px;
}
.webinar-box-inner{
  height: 300px;
  background: #fafafa;
  background: -webkit-linear-gradient(#fff,#fafafa);
  background: -o-linear-gradient(#fff,#fafafa);
  background: -moz-linear-gradient(#fff,#fafafa);
  background: linear-gradient(#fff,#fafafa);
  border: 1px solid #f1f1f1;
  padding: 10px;
}
.webinar-box-inner h1{
  text-align: center;
}
.atc{
  margin: auto;
  text-align: center;
  background-color: #327a83;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}
.atc-div{
  text-align: center;
}
#about .inner{
  margin-bottom: 200px;
}
#work .inner img{
  border-radius: 10%;
  margin: 20px;
  margin: auto;
}
#work .inner{
  text-align: center;
}
#services h2{
  color: #e3835d;
}
#about .m35{
  margin-top: 35px;
}
#about .img-right{
  width: 100%;
}
#work .inner{
  text-align: center;
}
#contact form{
  margin-left: 75px;
}
#about .rise{
  text-align: center;
}
#work .carousel{
  background-color: #000;
  min-width: 1087px;
  min-height: 500px;
  margin: 0 auto;
}
#work .links{
  max-width: 1075px;
  margin: 20px auto;
}
#work .links h2{
  color: #e3835d;
}
#inspiration .inner{
  text-align: center;
}
#inspiration .inner img{
  margin: 20px;
  width: 100%;
}
